.navigation-primary {
  display: inline-block;
}

.navigation-primary a {
  color: #494A52;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.1em;
}

.navigation-primary a.active-item {  
  position: relative;
}

.navigation-primary .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-primary .submenu a,
.navigation-primary .submenu p {
  text-decoration: none;
}

.submenu-toggle {
  display: none;
}

.submenu li{
  text-transform: uppercase;
}

.submenu.level-1 {
  display: inline-block;
  white-space: nowrap;
}

.submenu.level-1 > li {  
  padding: 30px 20px;  
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.submenu.level-1 > li:first-child { 
  padding-left: 0;
}

.submenu.level-1 > li:last-child { 
  padding-right: 0;
}

.submenu.level-1 > li.has-submenu {
  position: relative;
}

.submenu.level-1 > .has-submenu > .menu-arrow {  
  display: inline-block;    
  margin-left: 8px; 
  color: #FFFFFF;
  font-size: 12px;
}

.submenu.level-2 {
  border: none; 
  left: 50%;  
  opacity: 0;
  position: absolute;
  text-transform: none;
  top: 100%;
  padding: 10px 30px;
  width: 230px;
  margin-top: 1px;    
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;  
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);  
}

.submenu.level-2 > li:first-child > a {
  position: relative;
  z-index: 2;
}

.submenu.level-2 > li:first-child:before {
  background-color: #FFF;    
  content: '';
  display: block;
  height: 15px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  position: absolute;
  top: -8px;
  transform: rotate(45deg);  
  width: 15px;
  z-index: 1;
}

.submenu.level-2 > li {
  border-bottom: 1px solid #D1D6DC;
  padding: 0;
}

.submenu.level-2 .menu-item .menu-link {  
  display: block;
  padding: 15px 0px;
  text-transform: uppercase;
}

.submenu.level-2 .menu-item:first-of-type,
.submenu.level-2 .menu-item:first-of-type .menu-link {
  outline: none;
}

.submenu.level-2 .menu-item:last-of-type,
.submenu.level-2 .menu-item:last-of-type .menu-link {
  outline: none;
}

.submenu.level-2 > li:last-child,
.submenu.level-2 > li:last-child .submenu {
  border-bottom: none;  
}

.submenu.level-2 .menu-item .menu-link:hover,
.submenu.level-2 .menu-item .menu-link:focus {  
  cursor: pointer;  
}

.submenu.level-3 .menu-item .menu-link {
  padding-left: 60px;
}

.submenu.level-1 > li.has-submenu:hover .submenu.level-2,
.submenu.level-1 > li.has-submenu.focus .submenu.level-2 {  
  opacity: 1;
}

/* Hide navigation dropdown in the inline editor */
.hs-inline-edit .submenu.level-1 > li.has-submenu:hover .submenu.level-2,
.hs-inline-edit > li.has-submenu.focus .submenu.level-2 {
  visibility: hidden;
}


@media (min-width: 768px) and (max-width: 1150px) {
  .navigation-primary a {
    font-size: 20px;
  }

  .submenu.level-1 > li {
    padding: 22px 15px;
  }

  .submenu.level-1 > li:last-child {
    padding-right: 22px;
  }

  .submenu.level-1 > .has-submenu > .menu-arrow {
    right: 0;
    top: 40px;
  }

  .submenu.level-2 {
    left: 0;
  }
}

@media (max-width: 767px) {
  .navigation-primary a {
    font-size: 26px;
  }

  .navigation-primary {
    display: block;
  }

  .navigation-primary .submenu.level-1 > li > a.active-item:after {
    content: none;
  }

  .navigation-primary .submenu.level-1 > li > a.active-item:after {
    display: none;
  }

  .submenu > li > a {
    display: block;
    width: 100%;
  }

  .submenu > .has-submenu {
    position: relative;
  }

  .submenu > .has-submenu > a {
    width: 70%;
  }

  .submenu {
    display: none;
  }

  .submenu.level-1 {
    width: 100%;
  }

  .submenu.level-1 > li {
    border-top: 2px solid #CED4DB;
    display: block;
    padding: 0;
    width: 100%;
  }

  .submenu.level-1 > li > a {
    font-weight: 600;
    padding: 7px 30px;
  }

  .submenu.level-1 > .has-submenu > .menu-arrow,
  .submenu > .has-submenu > .menu-arrow,
  .submenu .menu-arrow {
    background-position: center right 30px;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    cursor: pointer;
    height: 55px;
    padding: 15px 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
  }

  .submenu.level-1 > .has-submenu > i,
  .submenu > .has-submenu > i,
  .submenu i {       
    display: block;    
    margin-left: auto;
    margin-right: 30px;
    transition: transform 0.4s;    
  }

  .submenu.level-2 > li:first-child:before {
    content: none;
    transition: none;
  }

  .submenu.level-2 > li:first-child:hover:before,
  .submenu.level-2 > li:first-child.focus:before {
    transition: none;
  }

  input[type="checkbox"]:checked ~ .submenu {
    display: block;
  }

  input[type="checkbox"]:checked ~ .menu-arrow i {
    transform: rotate(45deg);
    transition: transform 0.4s;
  }

  .submenu.level-2 {
    border: none;
    box-shadow: none;
    opacity: 1;
    position: static;
    transform: unset;
    visibility: visible;
    width: 100%;
    z-index: 2;
  }

  .submenu.level-2 .menu-item {
    background-color: #FFF;
    border-bottom: none;
    border-top: 2px solid #EBEFF3;
    padding: 0;
  }

  .submenu.level-2 .menu-item .menu-link {
    padding: 7px 60px;
    transition: none;
  }

  .submenu.level-2 .menu-item .menu-link:hover,
  .submenu.level-2 .menu-item .menu-link:focus {
    transition: none;
  }

  .submenu.level-2 .menu-item .menu-link:hover {
    background-color: inherit;
  }

  .submenu.level-3 {
    background-color: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .submenu.level-3 > li {
    background-color: inherit;
    padding: 0;
  }

  .submenu.level-3 .menu-item .menu-link {
    padding: 7px 90px;
  }
}
