button,
.button {
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-size: 0.92rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.15s linear;
  white-space: normal;
}

button:disabled,
.button:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  text-decoration: none;
}

button:active,
.button:active {
  text-decoration: none;
}