/* Menu and simple menu */

.hs-menu-wrapper ul {  
  list-style: none;
  margin: 0;
  padding-left: 0;
  @include flex-wrap(wrap);
  @include flexbox();
}

/* Horizontal menu */

.hs-menu-wrapper.hs-menu-flow-horizontal .hs-menu-children-wrapper {  
  @include flex-direction(column);
}

@media (max-width: 767px) {
  .hs-menu-wrapper.hs-menu-flow-horizontal ul {
    @include flex-direction(column);
  }
}

/* Vertical menu */

.hs-menu-wrapper.hs-menu-flow-vertical ul {
  @include flex-direction(column);
}

/* Flyouts */

.hs-menu-wrapper.hs-menu-flow-vertical.flyouts ul {  
    @include inline-flex();
}

@media (max-width: 767px) {
  .hs-menu-wrapper.hs-menu-flow-vertical ul {
    
      @include flex();
  }
}

.hs-menu-wrapper.flyouts .hs-item-has-children {
  position: relative;
}

.hs-menu-wrapper.flyouts .hs-menu-children-wrapper {
  left: -9999px;
  opacity: 0;
  position: absolute;
}

.hs-menu-wrapper.flyouts .hs-menu-children-wrapper a {
  display: block;
  white-space: nowrap;
}

.hs-menu-wrapper.hs-menu-flow-horizontal.flyouts .hs-item-has-children:hover > .hs-menu-children-wrapper {
  left: 0;
  opacity: 1;
  top: 100%;
}

.hs-menu-wrapper.hs-menu-flow-vertical.flyouts .hs-item-has-children:hover > .hs-menu-children-wrapper {
  left: 100%;
  opacity: 1;
  top: 0;
}

@media (max-width: 767px) {
  .hs-menu-wrapper.flyouts .hs-menu-children-wrapper,
  .hs-menu-wrapper.hs-menu-flow-horizontal.flyouts .hs-item-has-children:hover > .hs-menu-children-wrapper,
  .hs-menu-wrapper.hs-menu-flow-vertical.flyouts .hs-item-has-children:hover > .hs-menu-children-wrapper {
    left: 0;
    opacity: 1;
    position: relative;
    top: auto;
  }
}

/* CTA, logo, and rich text images */

.hs_cos_wrapper_type_cta img,
.hs_cos_wrapper_type_logo img,
.hs_cos_wrapper_type_rich_text img {
  height: auto;
  max-width: 100%;
}

/* Box Image Styles */

.box__image-list{
  position: relative;  
  @include flexbox();
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include justify-content(space-between);    
  .box__image-item{    
    padding: 30px;
    max-width: 33.33%;
    @include flex-basis(33.33%);
    @include flexbox();    
    @include justify-content(space-around);
    &.center{
      text-align: center;         
    }
    &.text-left{
      text-align: left;
      @include justify-content(flex-start);
    }
    &.text-right{
      text-align: right;
      @include justify-content(flex-end);     
    }
    &.top{
      @include flex-direction(column);
      &.center{
        @include align-items(center);
      }
    }
    &.left{
      @include flex-direction(row);       
      @include justify-content(flex-start);
      .box__image-icon{
        margin-bottom: 0;        
      }
      .box__text{
        margin-left: 30px;
      }
    }
    &.right{
      @include flex-direction(row);
      @include justify-content(flex-end);
      .box__image-icon{
        margin-bottom: 0;   
        @include order(1);     
      }
      .box__text{
        margin-right: 30px;
      }
    }
    > *{
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .box__text{
    > *{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .box__image-icon{
    overflow: hidden;
    background-color: #CCC;
    text-align: center;    
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include border-radius(100%);
    min-width: 110px;
    @include square(110px);
    &.red{
      background-color: #FF0000;
    }
    &.blue{
      background-color: #4D9DED;
    }
    &.gray{
      background-color: #808080;
    }
    &.silver{
      background-color: #C0C0C0;
    }
    &.green{
      background-color: #008000;
    }
    &.yellow{
      background-color: #FFFF00;
    }
    &.purple{
      background-color: #800080;
    }
    &.olive{
      background-color: #808000;
    }
    &.moody{
      background-color: #7078CF;
    }
    &.sorbus{
      background-color: #E3733A;
    }
    &.pink{
      background-color: #F28989;
    }
    &.mandys{
      background-color: #FFB38D;
    }
    &.pastel{
      background-color: #77CB7A;
    }
    &.orange{
      background-color: #ff9200;
    }    
  }
}
