.content-wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 1380px) {
  .content-wrapper {
    padding: 0;
  }
}

.dnd-section{  
  > .row-fluid {
    margin: 0 auto;
  }
  .dnd-column {
    padding: 0 30px;
    @include media(medium) {      
      padding: 0 20px;
    }
    @include media(small) {
      padding: 0 20px;
    }
  }  
} 