button,
.button {
  outline: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;  
  white-space: normal;      
  @include transition(all 0.15s linear);     
  &:disabled{
    background-color: #D0D0D0;
    border-color: #D0D0D0;
    color: #E6E6E6;
  }
  &:hover,
  &:focus{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
}

.button-link-icon{
  @include square(40px);
  display: inline-block;  
  position: relative;
  &:before{    
    content: '\f061';
    @include center();
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
}