.heading{	
	@include flexbox();
	@include flex-wrap(nowrap);
	@include flex-direction(row);
	&.center{
		text-align: center;		
		@include justify-content(space-around);
	}
	&.text-left{
		text-align: left;
		@include justify-content(flex-start);
	}
	&.text-right{
		text-align: right;
		@include justify-content(flex-end);			
	}
}

.custom-heading{
	width: 100%;
	max-width: 560px;
}

.heading__image__container{  
  margin: 0 0 10px 0;     
  .heading--image--line{
  	position: relative;      
  	display: inline-block;
  	vertical-align: middle;
  	max-width: 300px;
  	width: 100%;
  	text-align: center;
  	&:before{
	  	left: 0;  	
	}
	&:after{
	  	right: 0;  	
	} 
  	&:before,
	&:after{  	
		content: "";		
		@include size(120px, 2px);		
		@include center(false, true);
	}
  }  
}